*{
--Amarillo: #EAC926;
--Azul: #03264C;
--Celeste: #1259c3;
--Grisoscuro: #666;
--Grisclaro: #ebebeb;
--Verde: #39b54a;

--Cuerposdetexto:12px;
--Titulares:24px;
--Precios:18px;
--Descuentos:16px;
--Descripciones:16px;
}
*{
    box-sizing: border-box;
}
body{
    background-color: #EAC926;
    font-family:"roboto";  
    margin: 0;
}
p{
    font-size: 16px;
}
.cuerposdetexto{
    font-size: var(--Cuerposdetexto);
}
.precios{
    font-size: var(--Precios);
    margin: 0;
    width: 30%;
}
.descuentos{
    font-size: var(--Descuentos);
    color: var(--Verde);
    margin: 0;
    width: 70%;
}
.descripciones{
    font-size: var(--Descripciones);
    height: 0;
    width: 100%;
    overflow: hidden;
}
.titulares{
    font-size: var(--Titulares);
    text-align: left;
    margin-left: 5%; 
}